body {
    font-family: monospace;
    padding: 20px;
}

.lang-choice {
    width: fit-content;
    margin-bottom: 10px;
    padding: 15px;
    background-color: skyblue;
}

.input-word {
    margin-bottom: 10px;
}