* {
    box-sizing: border-box;
}

.main {
    font-family: calibri, sans-serif;
    width: 60%;
    margin: auto;
}

.header {
    text-align: center;
    margin-top: 50px;
    color: #233c51;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
}

hr { 
    width: 10%;
    height: 5px;
    background-color: goldenrod;
    border: none;
    margin-top: 5px;
}

.category-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
}

button {
    margin: 10px;
    padding: 7px 15px 7px 15px;
    border: solid 2px goldenrod;
    border-radius: 8px;
    background-color: white;
    color: goldenrod;
    font-size: 15px;
    cursor: pointer;

}

button:hover {
    box-shadow: 0px 0px 5px 5px #0003;
    transition: .20% ease-in-out;
}

#menu-container {
    display: flex;
    margin: auto;
    position: relative;
    padding: 10px;
}

#all-menu-items {
    width: 920px;;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
}

.menu-item {
    display: flex;
    flex-direction: row;
    width: 420px;
    margin: 20px;
}

.item-info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px lightgray solid;
    padding: 2px 0 5px 0;
    margin-bottom: 8px;
    letter-spacing: 2px;
    color: #233c51;
}

.price {
    color: goldenrod;
}

.desc {
    color: #8a9ebf;
}

.image {
    display: block;
    width: 50%;
    margin-right: 10px;
}

img {
    width: 90%;
    height: auto;
    border: 3px goldenrod solid;
    border-radius: 8px;
}

@media only screen and (max-width: 1600px) {
    .main {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    #all-menu-items {
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        margin-bottom: 20px;
        width: 70%;
    }

    .menu-item {
        width: 300px;
        margin: 10px;
    }
}